    <li>
        <a href="{{ url(item) }}">{{ item.title }}</a>
        <ul>
          <li>id: {{ item.id }}</li>
          <li>date: {{ item.date|date("d/m/Y") }}</li>
          <li>type: {{ item.type }}</li>
          <li>virtual: {{ item.virtual }}</li>
          <li>section: {{ item.section }}</li>
          <li>path: {{ item.path }}</li>
          <li>folder: {{ item.folder }}</li>
          <li>slug: {{ item.slug }}</li>
{% if item.menu is defined %}
          <li>menu: {{ dump(item.menu) }}</li>
{% endif %}
        </ul>
    </li>
