{#- title ~#}
{% if title is not defined or title is empty %}
  {%- set title_divider = page.metatags.title.divider|default(site.metatags.title.divider|default(' &middot; ')) %}
  {%- set title_only = page.metatags.title.only|default(site.metatags.title.only|default(false)) %}
  {%- set title_pagination_shownumber = page.metatags.title.pagination.shownumber|default(site.metatags.title.pagination.shownumber ?? true) %}
  {%- set title_pagination_label = page.metatags.title.pagination.label|default(site.metatags.title.pagination.label|default('Page %s')) %}
  {%- set title = page.title|e ~ title_divider ~ site.title|e %}
  {%- if title_only %}
    {%- set title = page.title|e %}
  {%- endif %}
  {%- if page.type == 'homepage' %}
    {%- set title = site.title|e ~ title_divider ~ site.baseline|default('')|e %}
    {%- if title_only or site.baseline|default('') is empty %}
      {%- set title = site.title|e %}
    {%- endif %}
  {%- endif %}
  {%- if page.paginator.current|default(0) > 1 %}
    {%- if title_pagination_shownumber %}
      {%- set title = page.title|e ~ title_divider ~ title_pagination_label|format(page.paginator.current) ~ title_divider ~ site.title|e %}
      {%- if title_only %}
        {%- set title = page.title|e ~ title_divider ~ title_pagination_label|format(page.paginator.current) %}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{% endif %}
{# description #}
{% set description = page.description|default(site.description)|e %}
{# keywords / tags #}
{% set keywords = page.tags|default([])|merge(site.keywords|default([]))|e %}
{# author #}
{% set author = page.author|default(site.author|default(''))|e %}
{% if author is not empty %}
  {%- if author is not iterable %}
    {%- set author = {'name': author} %}
  {%- endif %}
  {%- if author.firstname is defined and author.lastname is defined %}
    {%- set author = author|merge({'name': author.firstname|e ~ ' ' ~ author.lastname|e}) %}
  {%- endif %}
{% endif %}
{# robots #}
{% set robots = page.metatags.robots|default(site.metatags.robots|default('index,follow')) %}
{% if page.paginator.current|default(0) > 1 %}
  {%- set robots = 'noindex,follow' %}
{% endif %}
{# favicon #}
{% if site.metatags.favicon.enabled ?? true %}
  {%- set favicon_defaults = {
    'icon': [32, 57, 76, 96, 128, 192, 228],
    'shortcut icon': [196],
    'apple-touch-icon': [120, 152, 180],
  } -%}
{% endif %}
{# image #}
{% if (image is not defined or image is empty) and page.metatags.image.enabled ?? site.metatags.image.enabled ?? true %}
  {%- set image = page.image|default(site.image|default()) %}
{% endif %}
{# video #}
{% if page.videos is defined and page.videos[0] %}
  {%- set video = page.videos[0] %}
{% endif %}
{# Open Graph #}
{% set opengraph = {
  'locale': site.language.locale,
  'site_name': site.title,
  'type': 'website',
  'title': block('title'),
  'description': block('description'),
  'url': url(page, {canonical: true}),
} %}
{% if image ?? false %}
  {%- if image is not asset %}
    {%- set image_asset = asset(image) %}
  {%- else %}
    {%- set image_asset = image %}
  {%- endif %}
  {%- set opengraph = opengraph|merge({'image': image_asset|resize(1200)}) %}
{% endif %}
{% if page.section == site.metatags.articles|default('blog') %}
  {%- set opengraph = opengraph|merge({'type': 'article'}) %}
{% endif %}
{% if page.opengraph is defined or site.opengraph is defined %}
  {%- set opengraph = opengraph|merge(page.opengraph|default(site.opengraph)) %}
{% endif %}
{% if video ?? false %}
  {% set video_asset = asset(video) %}
  {%- set opengraph = opengraph|merge({'type': 'video.other'}) %}
  {%- set opengraph = opengraph|merge({'video': video_asset}) %}
{% endif %}
{# Facebook #}
{% set facebook = {
  'id': '',
  'firstname': author.firstname|default(''),
  'lastname': author.lastname|default(''),
  'username': '',
} %}
{% if page.social.facebook is defined or site.social.facebook is defined %}
  {%- set facebook = facebook|merge(page.social.facebook|default(site.social.facebook)) %}
{% endif %}
{# Twitter #}
{% set twitter = {
  'site': '',
  'creator': '',
} %}
{% if page.social.twitter is defined or site.social.twitter is defined %}
  {%- if page.social.twitter|default(site.social.twitter) is not iterable %}
    {%- set twitter = twitter|merge({'site': page.social.twitter|default(site.social.twitter)}) %}
  {%- else %}
    {%- set twitter = twitter|merge(page.social.twitter|default(site.social.twitter)) %}
  {%- endif %}
{% endif %}

    {#- template #}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}" />
{%- if keywords ~%}
    <meta name="keywords" content="{{ keywords|join(', ') }}" />
{%- endif ~%}
{%- if author ~%}
    <meta name="author" content="{{ author.name|e }}" />
{%- endif ~%}
    <meta name="robots" content="{{ robots }}" />
{#- template: favicon ~#}
{%- if site.metatags.favicon.enabled ?? true ~%}
  {%- set favicon_asset = asset(site.metatags.favicon.image|default('favicon.png'), {'ignore_missing': true}) -%}
  {%- if not favicon_asset.missing -%}
    {%- for favicon_variant, favicon_sizes in site.metatags.favicon.sizes|default(favicon_defaults) -%}
      {%- for size in favicon_sizes|filter(size => favicon_asset.width >= size) ~%}
    <link rel="{{ favicon_variant }}" sizes="{{ size }}x{{ size }}" href="{{ url(favicon_asset|resize(size), {'canonical': true}) }}" type="{{ favicon_asset.subtype }}" />
      {%- endfor -%}
    {%- endfor -%}
  {%- endif -%}
{%- endif ~%}
{#- template: prev/next ~#}
{%- if page.prev.path is defined ~%}
    <link rel="prev" href="{{ url(page.prev, {'canonical': true}) }}" />
{%- endif -%}
{%- if page.next.path is defined ~%}
    <link rel="next" href="{{ url(page.next, {'canonical': true}) }}" />
{%- endif -%}
{#- template: paginator ~#}
{%- if page.paginator.pages is defined ~%}
    <link rel="first" href="{{ url(page.paginator.links.first, {'canonical': true}) }}" />
    {%- if page.paginator.links.prev is defined ~%}
    <link rel="prev" href="{{ url(page.paginator.links.prev, {'canonical': true}) }}" />
    {%- endif ~%}
    {%- if page.paginator.links.next is defined ~%}
    <link rel="next" href="{{ url(page.paginator.links.next, {'canonical': true}) }}" />
    {%- endif ~%}
    <link rel="last" href="{{ url(page.paginator.links.last, {'canonical': true}) }}" />
{%- endif -%}
{#- template: alternates ~#}
{%- include 'partials/alternates.html.twig' with {'title': title, 'page': page} only ~%}
{%- include 'partials/feeds-from-section.html.twig' with {'title': title, 'page': page} only ~%}
{#- template: alternates languages ~#}
{%- include 'partials/alternates-languages.html.twig' with {'page': page} only ~%}
{#- template: Open Graph ~#}
    <meta property="og:locale" content="{{ opengraph.locale }}" />
    <meta property="og:site_name" content="{{ opengraph.site_name }}" />
    <meta property="og:type" content="{{ opengraph.type }}" />
    <meta property="og:title" content="{{ opengraph.title }}" />
    <meta property="og:description" content="{{ opengraph.description }}" />
    <meta property="og:url" content="{{ url(page, {'canonical': true}) }}" />
{%- if opengraph.image is defined ~%}
    <link rel="preload" href="{{ url(opengraph.image) }}" as="image" type="{{ opengraph.image.subtype }}" />
    <meta property="og:image" content="{{ url(opengraph.image, {'canonical': true}) }}" />
    <meta property="og:image:type" content="{{ opengraph.image.subtype }}" />
    <meta property="og:image:width" content="{{ opengraph.image.width }}" />
    <meta property="og:image:height" content="{{ opengraph.image.height }}" />
    <meta property="og:image:alt" content="{{ opengraph.title }}" />
{%- endif ~%}
{%- if opengraph.video is defined ~%}
    <link rel="preload" href="{{ url(opengraph.video) }}" as="video" type="{{ opengraph.video.subtype }}" />
    <meta property="og:video" content="{{ url(opengraph.video, {'canonical': true}) }}" />
    <meta property="og:video:url" content="{{ url(opengraph.video, {'canonical': true}) }}" />
    <meta property="og:video:secure_url" content="{{ url(opengraph.video, {'canonical': true}) }}" />
    <meta property="og:video:type" content="{{ opengraph.video.subtype }}" />
    <meta property="og:video:width" content="{{ opengraph.video.video.width }}" />
    <meta property="og:video:height" content="{{ opengraph.video.video.height }}" />
{%- endif -%}
{#- template: Facebook ~#}
{%- if facebook.id ~%}
    <meta property="fb:profile_id" content="{{ facebook.id }}" />
{%- endif -%}
{%- if facebook.firstname ~%}
    <meta property="profile:first_name" content="{{ facebook.firstname }}" />
{%- endif -%}
{%- if facebook.lastname ~%}
    <meta property="profile:last_name" content="{{ facebook.lastname }}" />
{%- endif -%}
{%- if facebook.username ~%}
    <meta property="profile:username" content="{{ facebook.username }}" />
{%- endif ~%}
{#- template: Twitter ~#}
    <meta name="twitter:title" content="{{ opengraph.title }}" />
    <meta name="twitter:description" content="{{ opengraph.description }}" />
{%- if opengraph.image is defined and opengraph.image.width > 500 ~%}
    <meta name="twitter:image" content="{{ opengraph.image|url({'canonical': true}) }}" />
    <meta name="twitter:image:alt" content="{{ opengraph.title }}" />
    {%- if opengraph.video is defined ~%}
    <meta name="twitter:card" content="player" />
    <meta name="twitter:player" content="{{ url(page, {'canonical': true, 'format': 'iframe'}) }}" />
    <meta name="twitter:player:width" content="{{ opengraph.video.video.width }}" />
    <meta name="twitter:player:height" content="{{ opengraph.video.height }}" />
    {%- else ~%}
    <meta name="twitter:card" content="summary_large_image" />
    {%- endif ~%}
{%- else ~%}
    <meta name="twitter:card" content="summary" />
{%- endif -%}
{%- if twitter.site ~%}
    <meta name="twitter:site" content="@{{ twitter.site }}" />
{%- endif -%}
{%- if twitter.creator ~%}
    <meta name="twitter:creator" content="@{{ twitter.creator }}" />
{%- endif ~%}
{#- template: json-ld ~#}
{%- include 'partials/jsonld.js.twig' with {'author': author, 'favicon_asset': favicon_asset|default} ~%}