{# title #}
{% if title is not defined %}
{% set title = page.title|e ~ ' &middot; ' ~ site.title|e %}
{% if page.id == 'index' %}
{% set title = site.title|e ~ ' &middot; ' ~ site.baseline|default(site.description)|e %}
{% endif %}
{% endif %}
{# description #}
{% set description = page.description|default(site.description)|e %}
{# keywords #}
{% set keywords = page.tags|default([])|merge(site.keywords|default([]))|e %}
{# author #}
{% set author = page.author|default(site.author|default(''))|e %}
{% if author.name is defined %}
{% set author = author.name|e %}
{% endif %}
{% if author.firstname is defined and author.lastname is defined %}
{% set author = author.firstname|e ~ ' ' ~ author.lastname|e %}
{% endif %}
{# image #}
{% if site.image is defined %}
{% set image = site.image %}
{% endif %}
{% if page.image is defined %}
{% set image = page.image %}
{% endif %}
{# open graph #}
{% set opengraph = {
  'locale': site.language.locale,
  'site_name': site.title,
  'type': 'website',
  'title': block('title'),
  'description': block('description'),
  'url': url(page, {canonical:true}),
  'image': image|default(),
} %}
{# hack #}
{% if page.section == 'blog' %}
{% set opengraph = opengraph|merge({'type': 'article'}) %}
{% endif %}
{# /hack #}
{% if page.opengraph is defined or site.opengraph is defined %}
{% set opengraph = opengraph|merge(page.opengraph|default(site.opengraph)) %}
{% endif %}
{# Facebook #}
{% set facebook = {
  'id': '',
  'firstname': author.firstname|default(''),
  'lastname': author.lastname|default(''),
  'username': '',
} %}
{% if page.facebook is defined or site.social.facebook is defined %}
{% set facebook = facebook|merge(page.facebook|default(site.social.facebook)) %}
{% endif %}
{# Twitter #}
{% set twitter = {
  'site': '',
  'creator': '',
} %}
{% if page.twitter is defined or site.social.twitter is defined %}
{% set twitter = twitter|merge(page.twitter|default(site.social.twitter)) %}
{% endif %}

{#- template #}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}" />
{%- if keywords ~%}
    <meta name="keywords" content="{{ keywords|join(', ') }}" />
{%- endif ~%}
{%- if author ~%}
    <meta name="author" content="{{ author|e }}" />
{%- endif ~%}
{#- template: alternates ~#}
{%- include 'partials/alternates.html.twig' with {'title':title,'page':page} only ~%}
{#- template: open graph ~#}
    <meta property="og:locale" content="{{ opengraph.locale }}" />
    <meta property="og:site_name" content="{{ opengraph.site_name }}" />
    <meta property="og:type" content="{{ opengraph.type }}" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <meta property="og:url" content="{{ url(page.url, {canonical:true}) }}" />
{%- if opengraph.image ~%}
    <meta property="og:image" content="{{ asset(opengraph.image)|url({canonical:true}) }}" />
    <meta property="og:image:type" content="{{ asset(opengraph.image).subtype }}" />
    <meta property="og:image:width" content="{{ asset(opengraph.image).width }}" />
    <meta property="og:image:height" content="{{ asset(opengraph.image).height }}" />
{%- endif -%}
{#- template: Facebook -#}
{%- if facebook.id ~%}
    <meta property="fb:profile_id" content="{{ facebook.id }}" />
{%- endif -%}
{%- if facebook.firstname ~%}
    <meta property="profile:first_name" content="{{ facebook.firstname }}" />
{%- endif -%}
{%- if facebook.lastname ~%}
    <meta property="profile:last_name" content="{{ facebook.lastname }}" />
{%- endif -%}
{%- if facebook.username ~%}
    <meta property="profile:username" content="{{ facebook.username }}" />
{%- endif ~%}
{#- template: Twitter -#}
{%- if opengraph.image and asset(opengraph.image).width > 500 ~%}
    <meta name="twitter:card" content="summary_large_image" />
{%- else ~%}
    <meta name="twitter:card" content="summary" />
{%- endif -%}
{%- if twitter.site ~%}
    <meta name="twitter:site" content="@{{ twitter.site }}" />
{%- endif -%}
{%- if twitter.creator ~%}
    <meta name="twitter:creator" content="@{{ twitter.creator }}" />
{%- endif %}
