{#- Set default values for metatags #}
{% set title, author, image, video, audio = title|default, author|default, image|default, video|default, audio|default %}
{% set title_html = title|default %}
{# title #}
{% if title is empty %}
  {%- set title_divider = page.metatags.title.divider|default(site.metatags.title.divider|default(' &middot; ')) %}
  {%- set title_only = page.metatags.title.only|default(site.metatags.title.only|default(false)) %}
  {%- set title_pagination_shownumber = page.metatags.title.pagination.shownumber|default(site.metatags.title.pagination.shownumber ?? true) %}
  {%- set title_pagination_label = page.metatags.title.pagination.label|default(site.metatags.title.pagination.label|default('Page %s')) %}
  {%- set title = page.title|trans|e %}
  {%- set title_html = title ~ title_divider ~ site.title|e %}
  {%- if title_only %}
    {%- set title_html = title %}
  {%- endif %}
  {#- homepage title #}
  {%- if page.type == 'homepage' %}
    {%- set title = site.title|e %}
    {%- set title_html = title ~ title_divider ~ site.baseline|default|e %}
    {%- if title_only or site.baseline|default is empty %}
      {%- set title_html = title %}
    {%- endif %}
  {%- endif %}
  {#- paginator title #}
  {%- if page.paginator.current|default(0) > 1 %}
    {%- if title_pagination_shownumber %}
      {%- set title = page.title|e ~ ' (' ~ title_pagination_label|format(page.paginator.current) ~ ')' %}
      {%- set title_html = page.title|e ~ title_divider ~ title_pagination_label|format(page.paginator.current) ~ title_divider ~ site.title|e %}
      {%- if title_only %}
        {%- set title_html = page.title|e ~ title_divider ~ title_pagination_label|format(page.paginator.current) %}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{% endif %}
{# description #}
{% set description = page.description|default(site.description)|e %}
{# keywords / tags #}
{% set keywords = page.tags|default([])|iterable|merge(site.keywords|default([])|iterable)|unique %}
{# author #}
{% if author is empty %}
{% set author = page.author|default(site.author|default)|e %}
{% endif %}
{% if author is not empty %}
  {%- if author is not iterable %}
    {%- set author = {'name': author} %}
  {%- endif %}
  {%- if author.firstname is defined and author.lastname is defined %}
    {%- set author = author|merge({'name': author.firstname|e ~ ' ' ~ author.lastname|e}) %}
  {%- endif %}
{% endif %}
{# robots #}
{% set robots = page.metatags.robots|default(site.metatags.robots|default('index,follow')) %}
{% if page.paginator.current|default(0) > 1 %}
  {%- set robots = 'noindex,follow' %}
{% endif %}
{# favicon #}
{% if page.metatags.favicon ?? site.metatags.favicon ?? true %}
  {%- set favicon_defaults = {
    'icon': [32, 57, 76, 96, 128, 192, 228],
    'shortcut icon': [128, 196],
    'apple-touch-icon': [120, 152, 180],
  } -%}
{% endif %}
{# image #}
{% if image is empty and (page.metatags.image ?? site.metatags.image ?? true) %}
  {%- set image = page.image|default(site.image|default) %}
{% endif %}
{# video #}
{% if page.videos is defined and page.videos[0] %}
  {# take the first video if available #}
  {%- set video = page.videos[0] %}
{% endif %}
{# audio #}
{% if page.audios is defined and page.audio[0] %}
  {# take the first audio if available #}
  {%- set audio = page.audio[0] %}
{% endif %}
{# Open Graph #}
{% set opengraph = {
  'locale': site.language.locale,
  'site_name': site.title,
  'type': 'website',
  'title': title,
  'description': block('description'),
  'url': url(page, {canonical: true}),
} %}
{#- OG: video #}
{% if video is not empty %}
  {%- set video_asset = asset(video) %}
  {%- set opengraph = opengraph|merge({'type': 'video'}) %}
  {%- set opengraph = opengraph|merge({'video': video_asset}) %}
{#- OG: audio #}
{% elseif audio is not empty %}
  {%- set audio_asset = asset(audio) %}
  {%- set opengraph = opengraph|merge({'type': 'audio'}) %}
  {%- set opengraph = opengraph|merge({'audio': audio_asset}) %}
{% endif %}
{#- OG: article #}
{% if page.section == site.metatags.articles|default('blog') %}
  {%- set opengraph = opengraph|merge({'type': 'article'}) %}
{% endif %}
{#- OG: image #}
{% if image is not empty %}
  {%- if image is not asset %}
    {%- set image_asset = asset(image) %}
  {%- else %}
    {%- set image_asset = image %}
  {%- endif %}
  {%- if image_asset is not image_square and image_asset is not image_large %}
    {%- deprecated 'The Open Graph image "' ~ image_asset.file ~ '" (' ~ image_asset.width ~ 'x' ~ image_asset.height ~ ' px) should be square or larger' %}
  {%- endif %}
  {#- if image is large, turn it in cover image #}
  {%- if image_asset is image_large %}
    {%- set opengraph = opengraph|merge({'image': image_asset|resize(width: 1200, height: 630, remove_animation: true)}) %}
  {%- else %}
    {%- set opengraph = opengraph|merge({'image': image_asset|resize(width: 512, remove_animation: true)}) %}
  {%- endif %}
{% endif %}
{# merge page.opengraph #}
{% if page.opengraph is defined or site.opengraph is defined %}
  {%- set opengraph = opengraph|merge(page.opengraph ?? site.opengraph ?? []) %}
{% endif %}
{# Facebook #}
{% set facebook = {'id': site.social.facebook.id|default(page.social.facebook.id|default)} %}
{# Twitter #}
{% set twitter = {
  'site': site.social.twitter.site|default,
  'creator': page.social.twitter ?? site.social.twitter.creator|default,
} %}
{# Mastodon #}
{% set mastodon = {
  'creator': page.social.mastodon ?? site.social.mastodon.creator|default,
} %}
{%- block content %}
    {#~ template ~#}
    <title>{% block title %}{{ title_html }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}">
  {%- if keywords and keywords is iterable ~%}
    <meta name="keywords" content="{{ keywords|join(', ') }}">
  {%- endif ~%}
  {%- if author ~%}
    <meta name="author" content="{{ author.name|e }}">
  {%- endif ~%}
  {%- if robots is not empty ~%}
    <meta name="robots" content="{{ robots }}">
  {%- endif ~%}
  {#- template: favicon ~#}
  {%- block metatags_favicon ~%}
    {%- cache 'metatags_favicon' ~ '__' ~ cecil.build ~ '__' ~ cecil.version ~%}
    {%- if page.metatags.favicon ?? site.metatags.favicon ?? true ~%}
      {#- favicon.ico ~#}
      {%- set favicon_ico = asset('favicon.ico', {'ignore_missing': true}) -%}
      {%- if not favicon_ico.missing ~%}
    <link rel="icon" href="{{ url(favicon_ico, {'canonical': true}) }}" type="image/x-icon">
    <link rel="icon" href="{{ url(favicon_ico, {'canonical': true}) }}" type="image/vnd.microsoft.icon">
    <link rel="shortcut icon" href="{{ url(favicon_ico, {'canonical': true}) }}" type="image/x-icon">
      {%- endif -%}
    {#- favicon.svg ~#}
      {%- set favicon_svg = asset('favicon.svg', {'ignore_missing': true}) -%}
      {%- if not favicon_svg.missing ~%}
    <link rel="icon" sizes="any" href="{{ url(favicon_svg, {'canonical': true}) }}" type="image/svg+xml">
      {%- endif -%}
      {#- favicon.png ~#}
      {%- set favicon_asset = asset(site.metatags.favicon.image|default('favicon.png'), {'ignore_missing': true}) -%}
      {%- if not favicon_asset.missing -%}
        {%- for favicon_variant, favicon_sizes in site.metatags.favicon.sizes|default(favicon_defaults) -%}
          {%- for size in favicon_sizes|sort|reverse|filter(size => favicon_asset.width >= size) ~%}
    <link rel="{{ favicon_variant }}" sizes="{{ size }}x{{ size }}" href="{{ url(favicon_asset|resize(size), {'canonical': true}) }}" type="{{ favicon_asset.subtype }}">
          {%- endfor -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endif ~%}
    {%- endcache ~%}
  {%- endblock metatags_favicon ~%}
  {%- if page.metatags.navigation ?? site.metatags.navigation ?? true ~%}
    {#- template: prev/next ~#}
    {%- if page.prev.path is defined ~%}
    <link rel="prev" href="{{ url(page.prev, {'canonical': true}) }}">
    {%- endif -%}
    {%- if page.next.path is defined ~%}
    <link rel="next" href="{{ url(page.next, {'canonical': true}) }}">
    {%- endif -%}
    {#- template: paginator ~#}
    {%- if page.paginator.pages is defined ~%}
    <link rel="first" href="{{ url(page.paginator.links.first, {'canonical': true}) }}">
      {%- if page.paginator.links.prev is defined ~%}
    <link rel="prev" href="{{ url(page.paginator.links.prev, {'canonical': true}) }}">
      {%- endif ~%}
      {%- if page.paginator.links.next is defined ~%}
    <link rel="next" href="{{ url(page.paginator.links.next, {'canonical': true}) }}">
      {%- endif ~%}
    <link rel="last" href="{{ url(page.paginator.links.last, {'canonical': true}) }}">
    {%- endif -%}
  {%- endif -%}
  {#- template: alternates ~#}
  {%- block metatags_alternates ~%}
  {{- include('partials/alternates.html.twig', {title, page}, with_context = false) ~}}
  {%- endblock metatags_alternates ~%}
  {{- include('partials/feeds-from-section.html.twig', {title, page}, with_context = false) ~}}
  {#- template: alternates languages ~#}
  {{- include('partials/alternates-languages.html.twig', {page}, with_context = false) ~}}
  {#- template: preload ~#}
  {#- `as="video"` is no more supported by browsers
  {%- if video_asset is defined ~%}
    <link rel="preload" href="{{ url(video_asset) }}" as="video" type="{{ video_asset.subtype }}">
  {%- endif ~%}
  -#}
  {#- template: rel me ~#}
  {%- for social in page.social|default(site.social|default([]))|filter((v) => v['url'] is defined) ~%}
    <link rel="me" href="{{ social.url }}">
  {%- endfor ~%}
  {#- template: Open Graph ~#}
  {%- block metatags_og ~%}
  {%- if page.metatags.og ?? site.metatags.og ?? true ~%}
    <meta property="og:locale" content="{{ opengraph.locale }}">
    <meta property="og:site_name" content="{{ opengraph.site_name }}">
    <meta property="og:title" content="{{ opengraph.title }}">
    <meta property="og:description" content="{{ opengraph.description }}">
    <meta property="og:url" content="{{ opengraph.url }}">
    {%- if author.name|default ~%}
    <meta property="og:author" content="{{ author.name|e }}">
    {%- endif ~%}
    <meta property="og:type" content="{{ opengraph.type }}">
    {%- if opengraph.type == 'article' ~%}
    <meta property="article:published_time" content="{{ page.date|date('c') }}">
    {%- if page.updated|default ~%}
    <meta property="article:modified_time" content="{{ page.updated|date('c') }}">
    {%- endif ~%}
      {%- if author.name|default ~%}
    <meta property="article:author" content="{{ author.name|e }}">
      {%- endif ~%}
      {%- for tag in page.tags|default([]) ~%}
    <meta property="article:tag" content="{{ tag|e }}">
      {%- endfor ~%}
    {%- endif ~%}
    {%- if opengraph.type == 'video' ~%}
    <meta property="og:video" content="{{ url(opengraph.video, {'canonical': true}) }}">
    <meta property="og:video:url" content="{{ url(opengraph.video, {'canonical': true}) }}">
    <meta property="og:video:secure_url" content="{{ url(opengraph.video, {'canonical': true}) }}">
    <meta property="og:video:type" content="{{ opengraph.video.subtype }}">
    <meta property="og:video:width" content="{{ opengraph.video.video.width }}">
    <meta property="og:video:height" content="{{ opengraph.video.video.height }}">
    {%- elseif opengraph.type == 'audio' ~%}
    <meta property="og:audio" content="{{ url(opengraph.audio, {'canonical': true}) }}">
    <meta property="og:audio:url" content="{{ url(opengraph.audio, {'canonical': true}) }}">
    <meta property="og:audio:secure_url" content="{{ url(opengraph.audio, {'canonical': true}) }}">
    <meta property="og:audio:type" content="{{ opengraph.audio.subtype }}">
    {%- endif -%}
    {%- if opengraph.image is defined ~%}
    <meta property="og:image" content="{{ url(opengraph.image, {'canonical': true}) }}">
    <meta property="og:image:type" content="{{ opengraph.image.subtype }}">
    <meta property="og:image:width" content="{{ opengraph.image.width }}">
    <meta property="og:image:height" content="{{ opengraph.image.height }}">
    <meta property="og:image:alt" content="{{ opengraph.title }}">
    {%- endif -%}
  {%- endif ~%}
  {%- endblock metatags_og ~%}
  {#- template: Facebook ~#}
  {%- if facebook.id ~%}
    <meta property="fb:profile_id" content="{{ facebook.id }}">
  {%- endif -%}
  {#- template: Twitter ~#}
  {%- block metatags_twitter ~%}
  {%- if page.metatags.twitter ?? site.metatags.twitter ?? true ~%}
    <meta name="twitter:title" content="{{ opengraph.title }}">
    <meta name="twitter:description" content="{{ opengraph.description }}">
    {%- if opengraph.video is defined ~%}
    <meta name="twitter:card" content="player">
      {%- if 'embed' in page.output ~%}
    <meta name="twitter:player" content="{{ url(page, {'canonical': true, 'format': 'embed'}) }}">
      {%- else ~%}
        {%- deprecated 'The "embed" output format is required by "twitter:card:player" for page "%s"'|format(page.filepath) ~%}
      {%- endif ~%}
    <meta name="twitter:player:width" content="{{ opengraph.video.video.width }}">
    <meta name="twitter:player:height" content="{{ opengraph.video.video.height }}">
    <meta name="twitter:player:stream" content="{{ url(opengraph.video, {'canonical': true}) }}">
    <meta name="twitter:player:stream:content_type" content="{{ opengraph.video.subtype }}">
    {%- elseif opengraph.audio is defined ~%}
    <meta name="twitter:card" content="player">
    <meta name="twitter:player" content="{{ url(page, {'canonical': true, 'format': 'embed'}) }}">
    {%- endif -%}
    {%- if opengraph.image is defined ~%}
    <meta name="twitter:image" content="{{ opengraph.image|url({'canonical': true}) }}">
    <meta name="twitter:image:alt" content="{{ opengraph.title }}">
      {%- if opengraph.video is not defined and opengraph.audio is not defined ~%}
        {%- if opengraph.image is image_large ~%}
    <meta name="twitter:card" content="summary_large_image">
        {%- else ~%}
    <meta name="twitter:card" content="summary">
        {%- endif -%}
      {%- endif ~%}
    {%- endif -%}
    {%- if twitter.site ~%}
    <meta name="twitter:site" content="@{{ twitter.site|trim('@', side: 'left') }}">
    {%- endif -%}
    {%- if twitter.creator ~%}
    <meta name="twitter:creator" content="@{{ twitter.creator|trim('@', side: 'left') }}">
    {%- endif ~%}
  {%- endif ~%}
  {%- endblock metatags_twitter ~%}
  {#- template: Mastodon ~#}
  {%- if mastodon.creator and (page.metatags.mastodon ?? site.metatags.mastodon ?? true) ~%}
    <meta name="fediverse:creator" content="@{{ mastodon.creator|trim('@', side: 'left') }}">
  {%- endif ~%}
  {#- template: structured data ~#}
  {%- block metatags_structured_data ~%}
  {%- if page.metatags.data ?? config.metatags.data ?? config.metatags.jsonld ?? false ~%}
  {{- include('partials/jsonld.js.twig', {author}) ~}}
  {%- endif ~%}
  {%- endblock metatags_structured_data ~%}
{%- endblock content -%}