{# title #}
{% if title is not defined %}
  {%- set title_divider = page.metatags.title.divider|default(site.metatags.title.divider|default(' &middot; ')) %}
  {%- set title_only = page.metatags.title.only|default(site.metatags.title.only|default(false)) %}
  {%- set title_pagination_shownumber = page.metatags.title.pagination.shownumber|default(site.metatags.title.pagination.shownumber|default(true)) %}
  {%- set title_pagination_label = page.metatags.title.pagination.label|default(site.metatags.title.pagination.label|default('Page %s')) %}
  {%- set title = page.title|e ~ title_divider ~ site.title|e %}
  {%- if title_only %}
    {%- set title = page.title|e %}
  {%- endif %}
  {%- if page.type == 'homepage' %}
    {%- set title = site.title|e ~ title_divider ~ site.baseline|default(site.description)|e %}
    {%- if title_only %}
      {%- set title = site.title|e %}
    {%- endif %}
  {%- endif %}
  {%- if page.pagination.current|default(0) > 1 %}
    {%- if title_pagination_shownumber %}
      {%- set title = page.title|e ~ title_divider ~ title_pagination_label|format(page.pagination.current) ~ title_divider ~ site.title|e %}
      {%- if title_only %}
        {%- set title = page.title|e ~ title_divider ~ title_pagination_label|format(page.pagination.current) %}
      {%- endif %}
    {%- endif %}
  {%- endif %}
{% endif %}
{# description #}
{% set description = page.description|default(site.description)|e %}
{# keywords / tags #}
{% set keywords = page.tags|default([])|merge(site.keywords|default([]))|e %}
{# author #}
{% set author = page.author|default(site.author|default(''))|e %}
{% if author is not iterable %}
  {%- set author = {'name':author} %}
{% endif %}
{% if author.firstname is defined and author.lastname is defined %}
  {%- set author = author|merge({'name': author.firstname|e ~ ' ' ~ author.lastname|e}) %}
{% endif %}
{# robots #}
{% set robots = page.metatags.robots|default(site.metatags.robots|default('index,follow')) %}
{% if page.pagination.current|default(0) > 1 %}
  {%- set robots = 'noindex,follow' %}
{% endif %}
{# favicon #}
{% set favicon = asset('favicon.png',{'ignore_missing':true}) %}
{% if favicon is not empty %}
  {%- set favicon_url = favicon|url({canonical:true}) %}
  {%- set favicon_subtype = favicon.subtype %}
  {%- set favicon_sizes = favicon.width ~ 'x' ~ favicon.height %}
{% endif %}
{# image #}
{%- set image = page.image|default(site.image|default()) %}
{# open graph #}
{% set opengraph = {
  'locale': site.language.locale,
  'site_name': site.title,
  'type': 'website',
  'title': block('title'),
  'description': block('description'),
  'url': url(page, {canonical:true}),
  'image': image,
} %}
{% if page.section == site.metatags.articles|default('blog') %}
  {%- set opengraph = opengraph|merge({'type': 'article'}) %}
{% endif %}
{% if page.opengraph is defined or site.opengraph is defined %}
  {%- set opengraph = opengraph|merge(page.opengraph|default(site.opengraph)) %}
{% endif %}
{# Facebook #}
{% set facebook = {
  'id': '',
  'firstname': author.firstname|default(''),
  'lastname': author.lastname|default(''),
  'username': '',
} %}
{% if page.social.facebook is defined or site.social.facebook is defined %}
  {%- set facebook = facebook|merge(page.social.facebook|default(site.social.facebook)) %}
{% endif %}
{# Twitter #}
{% set twitter = {
  'site': '',
  'creator': '',
} %}
{% if page.social.twitter is defined or site.social.twitter is defined %}
  {%- set twitter = twitter|merge(page.social.twitter|default(site.social.twitter)) %}
{% endif %}

{#- template ~#}
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}" />
{%- if keywords ~%}
    <meta name="keywords" content="{{ keywords|join(', ') }}" />
{%- endif ~%}
{%- if author ~%}
    <meta name="author" content="{{ author.name|e }}" />
{%- endif ~%}
    <meta name="robots" content="{{ robots }}" />
{#- template: favicon ~#}
{%- if favicon is not empty ~%}
    <link rel="icon" href="{{ favicon_url }}" type="{{ favicon_subtype }}" sizes="{{ favicon_sizes }}" />
    <link rel="shortcut icon" href="{{ favicon_url }}" type="{{ favicon_subtype }}" sizes="{{ favicon_sizes }}" />
    <link rel="apple-touch-icon" href="{{ favicon_url }}" type="{{ favicon_subtype }}" sizes="{{ favicon_sizes }}" />
{%- endif ~%}
{#- template: prev/next ~#}
{%- if page.prev.path is defined ~%}
    <link rel="prev" href="{{ url(page.prev.path,{'canonical':true}) }}">
{%- endif -%}
{%- if page.next.path is defined ~%}
    <link rel="next" href="{{ url(page.next.path,{'canonical':true}) }}">
{%- endif -%}
{#- template: pagination ~#}
{%- if page.pagination.pages is defined ~%}
    <link rel="first" href="{{ url(page.pagination.links.first,{'canonical':true}) }}">
    {%- if page.pagination.links.prev is defined ~%}
    <link rel="prev" href="{{ url(page.pagination.links.prev,{'canonical':true}) }}">
    {%- endif ~%}
    {%- if page.pagination.links.next is defined ~%}
    <link rel="next" href="{{ url(page.pagination.links.next,{'canonical':true}) }}">
    {%- endif ~%}
    <link rel="last" href="{{ url(page.pagination.links.last,{'canonical':true}) }}">
{%- endif -%}
{#- template: alternates ~#}
{%- include 'partials/alternates.html.twig' with {'title':title,'page':page} only ~%}
{#- template: Open Graph ~#}
    <meta property="og:locale" content="{{ opengraph.locale }}" />
    <meta property="og:site_name" content="{{ opengraph.site_name }}" />
    <meta property="og:type" content="{{ opengraph.type }}" />
    <meta property="og:title" content="{{ opengraph.title }}" />
    <meta property="og:description" content="{{ opengraph.description }}" />
    <meta property="og:url" content="{{ url(page.url, {canonical:true}) }}" />
{%- if opengraph.image ~%}
    <meta property="og:image" content="{{ asset(opengraph.image)|url({canonical:true}) }}" />
    <meta property="og:image:type" content="{{ asset(opengraph.image).subtype }}" />
    <meta property="og:image:width" content="{{ asset(opengraph.image).width }}" />
    <meta property="og:image:height" content="{{ asset(opengraph.image).height }}" />
    <meta property="og:image:alt" content="{{ opengraph.title }}" />
{%- endif -%}
{#- template: Facebook ~#}
{%- if facebook.id ~%}
    <meta property="fb:profile_id" content="{{ facebook.id }}" />
{%- endif -%}
{%- if facebook.firstname ~%}
    <meta property="profile:first_name" content="{{ facebook.firstname }}" />
{%- endif -%}
{%- if facebook.lastname ~%}
    <meta property="profile:last_name" content="{{ facebook.lastname }}" />
{%- endif -%}
{%- if facebook.username ~%}
    <meta property="profile:username" content="{{ facebook.username }}" />
{%- endif ~%}
{#- template: Twitter ~#}
    <meta name="twitter:title" content="{{ opengraph.title }}" />
    <meta name="twitter:description" content="{{ opengraph.description }}" />
{%- if opengraph.image and asset(opengraph.image).width > 500 ~%}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="{{ asset(opengraph.image)|url({canonical:true}) }}" />
    <meta name="twitter:image:alt" content="{{ opengraph.title }}" />
{%- else ~%}
    <meta name="twitter:card" content="summary" />
{%- endif -%}
{%- if twitter.site ~%}
    <meta name="twitter:site" content="@{{ twitter.site }}" />
{%- endif -%}
{%- if twitter.creator ~%}
    <meta name="twitter:creator" content="@{{ twitter.creator }}" />
{%- endif ~%}
{#- template: json-ld ~#}
{%~ include 'partials/jsonld.js.twig' with {'author':author,'favicon_url':favicon_url|default('')} %}