{% extends 'page.html.twig' %}

{% block head_css %}
    {{ parent() }}
    {{ asset('css/style.css', {canonical: true}).html }}
    <style>{{ asset('css/style.css').inline }}</style>
{% endblock head_css %}

{% block content %}

<p>{{ asset('css/style.css') }}</p>

<p>{{ asset('css/style.css')|url({canonical:true}) }}</p>

<p>{{ asset('images/cecil-logo.png', {attributs:{title:'title',alt:'alternative'}}).html }}</p>

{% endblock content %}
