{% extends 'page.html.twig' %}

{% block head_css %}
	{{ parent() }}

  <style>{{ minify(asset('css/style.css')).inline }}</style>
  {{ asset('css/style.css', {canonical: true}).html }}

{% endblock head_css %}

{% block content %}

	<p>{{ asset('css/style.css') }}</p>

	<p>{{ asset('css/style.css')|url({canonical:true}) }}</p>

  <p>{{ asset('css/style.css', {canonical: true})['url'] }}</p>

  <p>{{ asset('css/_style.css')|minify }}</p>

  <p>{{ asset('css/style.css')['content'] }}</p>

  <p>{{ asset('images/cecil-logo.png', {attributs:{title:'title',alt:'alternative'}}).html }}</p>

{% endblock content %}
