{% extends 'page.html.twig' %}

{% block head_css %}
{{ parent() }}

{% set sass %}
$primary-color: #ddbd83;
$bg-color: #22427c;
body {
  color: $primary-color;
  background-color: $bg-color;
  test: $test;
}
h2 {
  color: $primary-color;
}
{% endset %}
    <style>{{ sass|scss_to_css|minify_css }}</style>

{% endblock head_css %}

{% block content %}

  <h2>Load a file</h2>
  <p>
    asset('css/_style.css') (from static/)
    <pre>{{ asset('css/_style.css') }}</pre>
  </p>
  <p>
    asset('css/style.css') (from theme/static/)
    <pre>{{ asset('css/style.css') }}</pre>
  </p>

  <h2>Compile SCSS</h2>
  <p>
    asset('scss/colors.scss')
    <pre>{{ asset('scss/colors.scss') }}</pre>
  </p>
  <p>
    asset('scss/colors.scss')|to_css
    <pre>{{ asset('scss/colors.scss')|to_css }}</pre>
  </p>
  <p>
    asset('scss/colors.scss')|minify (if scss, compiles before)
    <pre>{{ asset('scss/colors.scss')|minify }}</pre>
  </p>

  <h2>Minify</h2>
  <p>
    asset('css/style.css')|minify
    <pre>{{ asset('css/style.css')|minify }}</pre>
  </p>
  <p>
    minify(asset('css/style.css')) (deprecated)
    <pre>{{ minify(asset('css/style.css')) }}</pre>
  </p>

  <h2>Inline</h2>
  <p>
    asset('css/style.css')|inline
    <pre>{{ asset('css/style.css')|inline }}</pre>
  </p>
  <p>
    asset('css/style.css')['content']
    <pre>{{ asset('css/style.css')['content'] }}</pre>
  </p>

  <h2>Create URL</h2>
  <p>
    asset('css/style.css')|url({canonical:true})
    <pre>{{ asset('css/style.css')|url({canonical:true}) }}</pre>
  </p>
  <p>
    url(asset('css/style.css'),{canonical:true}) (deprecated)
    <pre>{{ url(asset('css/style.css'),{canonical:true}) }}</pre>
  </p>

  <h2>HTML tag</h2>
  <p>
    asset('css/style.css')|html
    <pre>{{ asset('css/style.css')|html|e }}</pre>
  </p>

  <h2>JavaScript</h2>
  <p>
    asset('js/script.js')|minify|inline
    <pre>{{ asset('js/script.js')|minify|inline }}</pre>
  </p>

  <h2>Image</h2>
  <p>
    asset('images/cecil-logo.png', {attributs:{title:'the title',alt:'the alternative'}})|html
    <pre>
      {{ asset('images/cecil-logo.png', {attributs:{title:'the title',alt:'the alternative'}})|html }}
      {{ asset('images/cecil-logo.png', {attributs:{title:'the title',alt:'the alternative'}})|html|e }}
    </pre>
  </p>

  <h2>Versioning </h2>
  <p>
    asset('css/style.css', {version: true})
    <pre>{{ asset('css/style.css', {version: true}) }}</pre>
  </p>
  <p>
    asset('css/style.css', {version: true})|minify
    <pre>{{ asset('css/style.css', {version: true})|minify }}</pre>
  </p>

{% endblock content %}
