{% extends '_default/page.html.twig' %}

{% block content %}
      <h1 class="page-title">{{ page.title }}</h1>
{% if page.date is defined %}
      {# localized date #}
      <span class="post-date">{% trans %}Publication date:{% endtrans %} {{ page.date|localizeddate('long', 'none') }}</span>
{% endif %}
{% if page.image is defined %}
      <img src="{{ page.image }}" />
{% endif %}
      {{ page.content }}
      <hr />
      <h2>{% trans %}Translation examples{% endtrans %}</h2>
      <ul>
        <li>{% trans %}Simple text{% endtrans %}</li>
        <li>{% trans into 'fr_FR' %}Simple text in fr_FR{% endtrans %}</li>
        <li>{% trans with {'%site_title%': site.title } %}Simple text with variable "%site_title%"{% endtrans %}</li>
      </ul>
      <h3>{% trans %}Plural form{% endtrans %}</h3>
      <ul>
        <li>
          {% trans with {'%name%': 'Arnaud', '%count%': 0}%}{0}%name% has no apples|{1}%name% has one apple|]1,Inf[ %name% has %count% apples{% endtrans %}
        </li>
        <li>
          {% trans with {'%name%': 'Arnaud', '%count%': 1}%}{0}%name% has no apples|{1}%name% has one apple|]1,Inf[ %name% has %count% apples{% endtrans %}
        </li>
        <li>
          {% trans with {'%name%': 'Arnaud', '%count%': 10}%}{0}%name% has no apples|{1}%name% has one apple|]1,Inf[ %name% has %count% apples{% endtrans %}
        </li>
      </ul>
      <hr />
      <h2>{% trans %}Page's language{% endtrans %}</h2>
      <p>
        - code: {{ site.language }}<br>
        - name: {{ site.language.name }}<br>
        - locale: {{ site.language.locale }}<br>
        - weight: {{ site.language.weight }}<br>
      </p>
      <p>
        {% trans %}Default language:{% endtrans %} {{ site.languages.0.name }}<br>
      </p>
      <hr />
      <h2>{% trans %}Available translations:{% endtrans %}</h2>
      <p>
{% for p in site.allpages|filter_by('langref', page.langref) %}
        - <a href="{{ url(p) }}">{{ p.title }}</a><br>
{% endfor %}
      </p>
      <hr />
      <h2>site.page</h2>
      <p>
        <pre>site.page('about').title</pre>
      </p>
      <p>
        {{ site.page('about').title }}
      </p>
      <p>
        <pre>site.page('about', 'en').title</pre>
      </p>
      <p>
        {{ site.page('about', 'en').title }}
      </p>
      <p>
        <pre>site.page('about', 'fr').title</pre>
      </p>
      <p>
        {{ site.page('about', 'fr').title }}
      </p>
{% endblock content %}
