{% extends '_default/page.html.twig' %}

{% block content %}
      <h1 class="page-title">{{ page.title }}</h1>
{% if page.date is defined %}
      {# localized date #}
      <span class="post-date">{% trans "Publication date:" %} {{ page.date|localizeddate('long', 'none') }}</span>
{% endif %}
{% if page.image is defined %}
      <img src="{{ page.image }}" />
{% endif %}
      {{ page.content }}
      <p>
{% if page.tags is defined %}
{% for tag in page.tags %}
        <a href="{{ url('tags/' ~ tag) }}">#{{ tag }}</a>&nbsp;
{% endfor %}
{% endif %}
      </p>
      <hr />
      <p>
        {% trans "Page's language:" %}<br>
        - code: {{ site.language }}<br>
        - name: {{ site.language.name }}<br>
        - locale: {{ site.language.locale }}<br>
        - weight: {{ site.language.weight }}<br>
      </p>
      <p>
        {% trans "Default language:" %} {{ site.languages.0.name }}<br>
      </p>
      <hr />
      <p>
        {% trans "Available translations:" %}<br>
{% for p in site.allpages|filter_by('langref', page.langref) %}
        - <a href="{{ url(p) }}">{{ p.title }}</a><br>
{% endfor %}
      </p>
{% endblock content %}
