<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {%- block head ~%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="white" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="black" />
    {%~ include 'partials/metatags.html.twig' with {page, site} only ~%}
    <style>{% apply minify_css %}
      {%- include 'partials/new.css.twig' ~%}
      /* nav (not main) */
      nav ul:not(main) {
        padding: 0;
        margin: 0;
      }
      nav li:not(main) {
        display: inline-block;
        margin: 0 .5rem 0 0;
      }
      nav a:not(main) {
        text-decoration: none;
      }
      nav a:hover:not(main) {
        text-decoration: underline;
      }
      /* footer */
      footer {
        border-top: 1px solid var(--nc-bg-3);
        padding-top: 1rem;
        margin-top: 2rem;
      }
      /* main image */
      main img {
        height: auto;
      }
    {% endapply %}</style>
    {%- endblock head ~%}
  </head>
  <body>
    <header>
      {%- block header ~%}
      <h1>{{ site.title }}</h1>
      {%- include 'partials/navigation.html.twig' with {'menu': site.menus.main} only ~%}
      {%- endblock header ~%}
    </header>
    <main>
      {%- block content ~%}
      {%- block content_header %}{% endblock content_header ~%}
      {{ page.content }}
      {%- block content_footer ~%}
      <div>
      {% for vocab in site.taxonomies %}
        {%- if attribute(page, vocab.id) is defined ~%}
          {%- for term in attribute(page, vocab.id) ~%}
        <a href="{{ url(vocab.id ~ '/' ~ term, {language: site.language}) }}">#{{ term }}</a>&nbsp;
          {%- endfor ~%}
        {%- endif ~%}
      {% endfor %}
      </div>
      {%- endblock content_footer ~%}
      {%- endblock content ~%}
    </main>
    <footer>
      {%- block footer ~%}
      {%- set powered_by -%}
      <a href="{{ cecil.url }}">Cecil</a> &amp; <a href="https://newcss.net">new.css</a>
      {%- endset ~%}
      <small>{% trans %}Powered by %powered_by%{% endtrans %}</small>
      {%- endblock footer ~%}
    </footer>
    {%- include 'partials/googleanalytics.js.twig' with {site} only ~%}
  </body>
</html>
