<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="googlebot" content="noindex,indexifembedded">
    <link rel="canonical" href="{{ url(page, {canonical: true, format: 'iframe'}) }}">
    <title>{{ page.title }}</title>
    <style type="text/css">
      body {
        background-color: black;
        margin: 0;
        padding: 0;
      }
      video {
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
      }
    </style>
  </head>
  <body>
    {%- if page.photo is defined ~%}
    {%- block photo ~%}
    <img src="{{ url(asset(page.photo), {canonical: true}) }}" alt="{{ page.title }}" style="width: 100%; height: auto;">
    {%- endblock ~%}
    {%- elseif page.videos is defined ~%}
    {%- block video ~%}
    <video id="player" playsinline controls preload="auto"{% if page.poster|default(page.image|default) %} poster="{{ url(asset(page.poster|default(page.image|default)), {canonical: true}) }}"{% endif %}>
      {%- for video in page.videos ~%}
        {%- set asset_video = asset(video) ~%}
      <source src="{{ url(asset_video, {canonical: true}) }}" type="{{ asset_video.subtype }}">
      {%- endfor ~%}
    </video>
    {%- endblock ~%}
    {%- else ~%}
    {%- block default ~%}
    <a href="{{ url(page, {canonical: true}) }}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
    {%- endblock ~%}
    {%- endif ~%}
  </body>
</html>