{% extends '_default/list.html.twig' %}

          {%- block content ~%}
          <article>
            <header>
              <h1>{{ page.title }}</h1>
            </header>
            {%- if page.content ~%}
            <section>
              {{- page.content ~}}
            </section>
            {%- endif ~%}
            {%- for p in pages ~%}
            <article>
              <header>
                <h2><a href="{{ url(p) }}">{{ p.title|e }}</a></h2>
                <time>{{ p.date|format_date('long') }}</time>
              </header>
              {{ p.content|excerpt_html }}
              <footer class="page-nav">
                <a class="page-nav next" href="{{ url(p) }}#more">Read more</a>
              </footer>
            </article>
            {%- endfor ~%}
            <footer>
              {{- include('partials/paginator.html.twig', {page}, with_context = false) ~}}
            </footer>
          </article>
          {%- endblock content ~%}