{% extends '_default/page.html.twig' %}

            {%- block content ~%}
              <article>
                <header>
                  <h1>{{ page.title|e }}</h1>
                  <time>{{ page.date|format_date('long') }}</time>
                </header>
                {{ page.content }}
                <footer>
                  {{- include('partials/terms-list.html.twig', {page, vocabulary: 'tags'}, with_context = false) ~}}
                  {{- include('partials/page-navigation.html.twig', {page}, with_context = false) ~}}
                </footer>
              </article>
            {%- endblock content ~%}