<!DOCTYPE html>
<html lang="{{ site.language|default('en') }}">
  <head>
    {%- block head ~%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%~ include 'partials/metatags.html.twig' with {'page':page,'site':site} only ~%}
    <link rel="stylesheet" href="{{ asset('style.scss') }}">
    {%- endblock head ~%}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {%- if page.type == 'homepage' ~%}
      <h1>{{ site.title }}</h1>
      {%- else ~%}
      <h1><a href="{{ url('/', {canonical:true}) }}">{{ site.title }}</a></h1>
      {%- endif ~%}
      {%- block content ~%}
      {{ page.content }}
      {%- endblock content ~%}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        {%- if site.menus.main is defined ~%}
        {%- for entry in site.menus.main|sort_by_weight ~%}
        <a class="{% if url(page) == url(entry.url) %} selected{% endif %}" href="{{ url(entry.url) }}">{{ entry.name }}</a>
        {%- if not loop.last %} - {% endif ~%}
        {%- endfor ~%}
        {%- endif ~%}
      </div>
    </div>
    <script src="{{ url('anchor.js') }}"></script>
    <script>anchors.add();</script>
    {%~ include 'partials/googleanalytics.js.twig' with {'site':site} only ~%}
  </body>
</html>
