<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ site.title }} - {{ page.title }}</title>
        <description><![CDATA[{{ page.description|default(site.description)|escape }}]]></description>
        <lastBuildDate>{{ page.date|date('Y-m-dTH:i:sP') }}</lastBuildDate>
        <link>{{ url(page, { canonical: true }) }}</link>
{% for page in page.pages|sortByDate %}
        <item>
            <title>{{ page.title }}</title>
            <description><![CDATA[{{ page.content }}]]></description>
            <pubDate>{{ page.date|date('Y-m-dTH:i:sP') }}</pubDate>
            <link>{{ url(page, { canonical: true }) }}</link>
        </item>
{% endfor %}
    </channel>
</rss>
