<!DOCTYPE html>
<html lang="{{ site.language }}">
{% include 'partials/head.html.twig' %}
  <body>
    <div class="container content">
      <header class="masthead">
{% block header %}
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}" title="Home">{{ site.title }}</a>
          <small>{{ site.baseline }}</small>
{% block nav %}
{% if site.menus.main is defined %}
          <nav><small>
{% for menu in site.menus.main|sortByWeight %}
            <a class="{% if url(page) == url(menu.url) %}active{% endif %}" href="{{ url(menu.url) }}">{{ menu.name }}</a>
{% if not loop.last %} &middot; {% endif %}
{% endfor %}
          </small></nav>
{% endif %}
{% endblock nav %}
        </h3>
{% endblock header %}
      </header>
      <main>
        <h1>{{ page.title }}</h1>
{% block content %}
{{ page.content }}
{% endblock content %}
      </main>
      <footer class="footer">
{% block footer %}
        <small>
          &copy; <time datetime="{{ site.time|date('Y-m-dTH:i:sP') }}">{{ site.time|date('Y') }}</time> <a href="{{ site.author.url }}">{{ site.author.name }}</a>
        </small>
{% endblock footer %}
      </footer>
    </div>
{% include 'partials/googleanalytics.js.twig' %}
  </body>
</html>
