{% extends '_default/page.html.twig' %}

{% block content %}
{% set vocabulary = page %}
{% set vocabulary_id = page.plural %}
<h1>{{ vocabulary_id|title }}</h1>
<ul>
{% for term in vocabulary.terms %}
    <li>
        <h2><a href="{{ url(vocabulary_id ~ '/' ~ term.id) }}">{{ term.id|title }}</a> ({{ term|length }})</h2>
        <ul>
{% for page in term %}
            <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
{% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}
