{% extends '_default/page.html.twig' %}

{% block content %}

All pages:
<ul>
{% for item in site.pages|sortByTitle %}
{% include 'includes/page_li.html.twig' %}
{% endfor %}
</ul>

Blog pages:
<ul>
{% for item in site.pages|filterBy('section', 'blog')|sortByTitle %}
{% include 'includes/page_li.html.twig' %}
{% endfor %}
</ul>

Virtuals pages:
<ul>
{% for item in site.pages|filterBy('virtual', true)|sortByTitle %}
{% include 'includes/page_li.html.twig' %}
{% endfor %}
</ul>

Imported config (from theme(s)):
{% if site.foo is defined %}
<p>Variable `foo`=`{{ site.foo }}`</p>
{% endif %}

<pre>
Total pages: {{ page.totalpages }}
Pages by page : {{ page.pages|length }}
Links:
{{ dump(page.pagination) }}
</pre>

{% if page.alternates is defined %}
<pre>
Alternates:
{{ dump(page.alternates) }}
</pre>
{% endif %}

{% endblock %}
